@import "ant-design-vue/lib/style/themes/default.less";
// defalut.less
// 上面引入了核心样式文件，我们可以对其进行修改，覆盖原来的达到我们的目的。
// 这里不仅能修改变量还能修改样式
// 全局变量使用：@primary-color
// 	'primary-color': '#1890ff', 								// 全局主色
// 	'link-color': ' #1890ff', 									// 链接色
// 	'success-color': ' #52c41a', 								// 成功色
// 	'warning-color': ' #faad14', 								// 警告色
// 	'error-color': ' #f5222d', 									// 错误色
// 	'font-size-base': ' 14px', 									// 主字号
// 	'heading-color': ' rgba(0, 0, 0, 0.85)', 					// 标题色
// 	'text-color': ' rgba(0, 0, 0, 0.65)', 						// 主文本色
// 	'text-color-secondary': ' rgba(0, 0, 0, 0.45)', 			// 次文本色
// 	'disabled-color': ' rgba(0, 0, 0, 0.25)', 					// 失效色
// 	'border-radius-base': ' 2px', 								// 组件/浮层圆角
// 	'border-color-base': ' #d9d9d9', 							// 边框色
// 	'box-shadow-base': ' 0 2px 8px rgba(0, 0, 0, 0.15)' 		// 浮层阴影

@body-background:#E6E8EF;                                     // body背景色
@layout-body-background:#F5F7F9;                              // body内主体内容背景色
// 链接色 青色
@link-color: #18ffb2; 
@layout-header-background:transparent;

 
.vue3-waterfall-wrapper{width: 100% !important;}